<fis-page-header [title]="title">

</fis-page-header>

<form class="product-form" [formGroup]="productFrom" (ngSubmit)="onSave(productFrom)">

  <div class="form-group"  >
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
    <div *ngIf="submitted && f.name.errors " class="invalid-feedback">
      <div *ngIf="f.name.errors.required ">Name is required</div>
    </div>

  </div>


  <div class="form-group">
    <label>Price</label>
    <input type="number" class="form-control" formControlName="price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
      <div *ngIf="f.price.errors.required">Price is required</div>
    </div>
  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input type="number" class="form-control" formControlName="quantity" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }">
    <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
      <div *ngIf="f.quantity.errors.required">Quantity is required</div>
    </div>
  </div>

  <button *ngIf="!checkExist" type="submit" class="btn btn-primary">Create</button>
  <button *ngIf="checkExist" type="submit" class="btn btn-dark">Update</button>

</form>
